#main-div {
    background-color: var(--background-color-main);
    position: fixed;
    left: var(--playlists-div-width);
    right: 0;
    top: var(--options-div-height);
    bottom: var(--play-div-height);
    padding: 15px;

    display: flex;
    flex-direction: column;

    transition: var(--movement-transition);
}

.playlist__group {
    display: none;
    flex-direction: column;
    overflow-x: hidden;

    height: 100%;

    padding-top: 20px;
    gap: 15px;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;

    position: relative;
}

.song__left, .song__right {
    display: flex;
    align-items: center;
}
.song__left {
    gap: 15px;
    overflow: hidden;
}
.song__right {
    justify-content: end;
    gap: 10px;
}
.song__options {
    margin-left: 40px;
}

.playable .song__state, .song__options {
    visibility: hidden;
}
.playable:hover .song__state, .song:hover .song__options {
    visibility: visible;
}
.song__options:hover svg {
    stroke: var(--accent-color);
    fill: var(--accent-color);
}

.song__state {
    min-width: 23px;
    width: 23px;
    height: 20px;
}
.song__state svg, .syncStatus svg {
    width: 20px;
    height: 20px;
    
    display: flex;
    align-items: center;
}

.playable .song__state svg {
    margin-left: 0;
    margin-right: 3px;

    transition: margin 0.1s;
}
.playable .song__state:hover svg {
    margin-left: 3px;
    margin-right: 3px;
}

.song__title, .song__artist {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.song__title {
    font-weight: bold;
}
.song__artist {
    font-weight: 400;
}

.playable .song__state:hover svg, .song__options:hover svg {
    stroke: var(--accent-color);
}

.error {
    cursor: pointer;
}
.error span  {
    opacity: 0.7;
    text-decoration: line-through;
    transition: 0.2s;
}
.error:hover span {
    opacity: 0.3;
}

.resolve {
    display: flex;
    flex-direction: column;
}
