#main-div {
    background-color: var(--background-color-main);
    position: fixed;
    left: var(--playlists-div-width);
    right: 0;
    top: var(--options-div-height);
    bottom: var(--play-div-height);
    padding: 15px;

    display: flex;
    flex-direction: column;

    transition: var(--movement-transition);

    z-index: 2;
}

#playlist-header {
    display: flex;
}
#playlist-play {
    min-width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}
#playlist-play__pause {
    display: none;
}
#playlist-header__info {
    display: flex;
    flex-direction: column;
}

#playlist-groups {
    display: flex;
    flex-direction: column;
}

#playlist-desc {
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: pre-line;
    font-size: smaller;
}

.playlist__group {
    display: none;
    flex-direction: column;
    overflow-x: hidden;


    height: 100%;

    padding: 20px 5px 5px 5px;
    gap: 15px;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;

    cursor: grab;
    user-select: none;

    border-radius: 5px;
}

.song__left, .song__right {
    display: flex;
    align-items: center;
}
.song__left {
    gap: 15px;
    height: 100%;
    overflow: hidden;
}

.song__info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.song__right {
    justify-content: end;
    gap: 10px;
}
.song__options {
    margin-left: 40px;
}

.song__state {
    min-width: 23px;
    width: 23px;
    cursor: default;
}

.playable .song__state, .song__options {
    visibility: hidden;
    cursor: pointer;
}
.playable:hover .song__state, .song:hover .song__options {
    visibility: visible;
}
.song__options:hover svg {
    stroke: var(--accent-color);
    fill: var(--accent-color);
}

.song__duration {
    margin-left: min(50px, 15%);
}


.syncStatus {
    display: none;
    min-width: 20px;
    min-height: 20px;
}
/* add or remove this from body to show/hide all sync icons */
.show-unsynced-icons .syncStatus {
    display: block;
}

.song__state svg, .syncStatus svg {
    width: 20px;
    height: 20px;
    
    display: flex;
    align-items: center;
}

.playable .song__state svg {
    margin-left: 0;
    margin-right: 3px;

    transition: margin 0.1s;
}
.playable .song__state:hover svg {
    margin-left: 3px;
    margin-right: 3px;
}

.song__title, .song__artist {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.song__title {
    font-weight: bold;
}
.song__artist {
    font-size: x-small;
    font-weight: 400;
}

.playable .song__state:hover svg, .song__options:hover svg {
    stroke: var(--accent-color);
}

.error {
    cursor: pointer;
}
.error span  {
    opacity: 0.7;
    text-decoration: line-through;
    transition: 0.2s;
}
.error:hover span {
    opacity: 0.3;
}

.resolve {
    display: flex;
    flex-direction: column;
}

.drag__buffer {
    outline: solid 2px var(--accent-color);
    padding: 0 10px;
    border-radius: 5px;
    /* height is programmatically set to equal songEntry height */
}

#song__context-menu {
    position: fixed;

    display: none;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-color);
    border: solid 2px var(--border-color);
    border-radius: 5px;

    z-index: 10;
}
#song__context-menu > div {
    flex-direction: column;
    align-items: center;
}

#add-to-playlist {
    display: none;
}

#in-all-playlists {
    font-size: small;
    opacity: 0.8;
    margin: 5px;
}