#options-div {
    background-color: lightgreen;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

    z-index: 1;

    display: flex;
    justify-content: end;
    align-items: center;

    padding-right: 10px;
    gap: 10px
}

#new {
    position: relative;
}

#new-song-dropdown {
    visibility: hidden;
    
    position: absolute;
    top: 20px;
    right: 0;

    display: flex;
    flex-direction: column;
}

#upload-mp3 {
    background-color: lightblue;
}