#options-div {
    background-color: lightgreen;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

    z-index: -1;

    display: flex;
    justify-content: end;
    align-items: center;

    padding-right: 10px;
    gap: 10px
}