

#playlists-div {
    background-color: var(--background-color-side);

    position: fixed;
    left: 0;
    top: 0;
    bottom: var(--play-div-height);

    width: calc(var(--playlists-div-width) - 2 * 10px);
    padding: 10px;

    display: flex;
    flex-direction: column;
}

#playlists-div__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#playlists__nav {
    margin-top: 15px;
    
    height: 100%;
    padding-right: 5px;
    /* overflow-y: auto;  covered in .hiding-scroll */
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

#new-playlist {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0;
}

.playlist {
    display: flex;
    align-items: center;
    padding: 5px;

    text-underline-offset: 5px;

    transition: margin 0.2s;
}
.view-playlist {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    /* text-decoration-color: var(--accent-color); */
    /* color: var(--accent-color); */
}
.playlist:hover {
    cursor: pointer;
    margin-left: 5px;
}

.playlist__title {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    padding-bottom: 7px;
}

.playlist > .syncStatus {
    margin-left: 10px;
}
.playlist__options {
    visibility: hidden;
}
.playlist:hover .playlist__options {
    visibility: visible;
}

.playlist__options:hover svg {
    fill: var(--accent-color);
}