#sidebar-div {

    background-color: lightcoral;

    position: fixed;
    right:  calc(var(--sidebar-div-width) - 350px); 
    top: 0;
    bottom: var(--play-div-height);
    width: 350px;

    transition: 0.5s;
}

#sidebar__content {
    padding: 20px;
}

#song-settings {
    display: none;
    flex-direction: column;
    gap: 10px
}

#song-settings__metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settings {
    display: none;
    flex-direction: column;
}

#song-settings__playlists {
    display: flex;
    flex-direction: column;

    border: solid 2px white;
}

#create-account, #sign-in, #account-info {
    display: none;
    flex-direction: column;
    align-items: center;
}

a {
    cursor: pointer;
}

h5 {
    padding: 15px;
    margin: 0;
}