#titlescreen {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;

    display: grid;
    grid-template-rows: 1fr 1fr;
    
    background-color: var(--background-color);
}

#titlescreen__logo {
    height: 150px;
}

#titlescreen__top, #titlescreen__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titlescreen__top {
    justify-content: end;
}
#titlescreen__bottom {
    justify-content: start;
}

#primary {
    display: none;
}

#create-account, #sign-in, #account-info {
    display: none;
    flex-direction: column;
    align-items: center;
}

#create-account {
    display: flex;
}

#account__title {
    margin-top: 20px;
}

#titlescreen__bottom input[type="text"], #titlescreen__bottom input[type="password"], #account__submit {
    margin-top: 8px;
}

#account__toggle {
    margin-top: 20px;
}

#account__submit {
    padding: 7px 10px;
}