#main-div {
    background-color: rgb(252, 232, 232);
    position: fixed;
    left: var(--playlists-div-width);
    right: var(--sidebar-div-width);
    top: var(--options-div-height);
    bottom: var(--play-div-height);
    padding: 15px;

    transition: 0.5s;
}

h1 {
    margin: 0;
}

.playlist__group {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    margin-top: 15px;
    gap: 15px;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song__left, .song__right {
    display: flex;
    align-items: center;
}
.song__left {
    gap: 15px;
    overflow: hidden;
}
.song__right {
    justify-content: end;
    gap: 50px;
}

.song__play, .song__options {
    visibility: hidden;
}
.song:hover .song__play, .song:hover .song__options {
    visibility: visible;
}
.song__options:hover svg {
    stroke: var(--color2);
    fill: var(--color2);
}

.song__play {
    width: 26px;
    height: 20px;
}
.song__play svg {
    width: 20px;
    height: 20px;

    margin-left: 0;
    margin-right: 6px;

    transition: margin 0.1s;
}
.song__play:hover svg {
    margin-left: 3px;
    margin-right: 3px;
}
.song__play:active svg {
    margin-left: 6px;
    margin-right: 0;
}

.song__title, .song__artist {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.song__title {
    font-weight: bold;
}
.song__artist {
    font-weight: 400;
}