

#playlists-div {
    background-color: var(--background-color-side);

    position: fixed;
    left: 0;
    top: 0;
    bottom: var(--play-div-height);

    width: calc(var(--playlists-div-width) - 2 * 10px);
    padding: 10px;

    display: flex;
    flex-direction: column;
}

#playlists-div__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#playlists__nav {
    margin-top: 15px;
    
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

#new-playlist {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0;
}

.playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.playlist:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}

.playlist__options {
    visibility: hidden;
}
.playlist:hover .playlist__options {
    visibility: visible;
}

.playlist__options:hover svg {
    fill: var(--accent-color);
}